body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #0F2027, #203A43, #2C5364);
    font-family: 'Comfortaa', cursive;
}

a:link{
    text-decoration: none;
    color: white;
}

/* navbar */
.navbar{
    width: 100vw;
    background-color: #15223f;
    height: 13vh;
    
}

.navbar p{
    padding: 0;
    margin: 0;
    font-family: 'Kalam', cursive;
    color: white;
    font-size: 300%;
    text-align: right;
    padding: 2% 5%;
}

.pom{
    color: #d35400;
}



/* main */
.main{
    background: url(1.jpeg) center center fixed;
    background-size: cover;
    height: 87vh;
}


    /* lewy */
.lewy{
    width: 20%;
    float: left;
    background-color: rgba(10, 10, 10, 0.8);
    color: white;
    height: 100%;
    overflow: hidden;
}

.lewy .napis{
    margin-bottom: 5vh;
}

.lewy p{
    margin: 0;
    margin-top: 2vh;
    font-size: 25px;
    text-align: center;
}

.lewy #kontakt{
    margin-top: 5vh;
    font-size: 17px;
    line-height: 4vh;
    transition: 0.4s;
}

.lewy .oblicz{
    font-size: 20px;
    text-decoration: underline;
}

.lewy .oblicz a{
    cursor: pointer;
}

.lewy .liczenie{
    padding-top: 10vh;
    font-size: 17px;
    overflow: hidden;
    transition: .5s;
    opacity: 0;
    display: inline-block;
}

.lewy .liczenie input{
    border: none;
    border-radius: 15px;
    padding: 2%;
    margin-top: 2%;
}

.lewy .liczenie button{
    border: none;
    height: 7vh;
    width: 12vw;
    margin-top: 4vh;
    background-color: black;
    color: #d35400;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border: 1px solid #d35400;
    transition: 0.4s;
}

.lewy .liczenie button:hover{
    background-color: rgba(10, 10, 10, 0);

}


/* prawy */
.prawy{
    width: 20%;
    float: right;
    background-color: rgba(10, 10, 10, 0.8);
    color: white;
    height: 100%;
}

.prawy p{
    margin: 0;
    margin-top: 2vh;
    font-size: 25px;
    text-align: center;
}


.prawy ol{
    line-height: 7vh;
    font-size: 20px;
}

.prawy .linki:link{
    color: white;
    cursor: pointer;
}

.prawy ol li a{
    color: white;
    text-decoration: none;
}

/* środkowy */


.srodkowy{
    width: 60%;
    float: left;
    color: white;
    height: 100%;
}

.srodkowy .promocje{
    width: 90%;
    padding: 0;
    margin: 0;
    margin: 4% 5% 3%;
    padding: 50px 0px 50px;
    text-align: center;
    font-size: 35px;
    background-color: rgba(10, 10, 10, 0.8);
}


/* footer */
.stopka{
    position: relative;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #15223f;
    color: white;
    font-size: 20px
}

footer a{
    margin: 1%;
}


@media only screen and (min-width: 1201px) {
    .lewy {
        flex: 2; /* powiększenie 2/12 */
        order: 1;
    } 
    .srodkowy {
        flex: 7; /* powiększenie 7/12 */
        order: 2;
    } 
    .prawy {
        flex: 3; /* powiększenie 3/12 */
        order: 3;
    }
}





#zdj1, #zdj2, #zdj3{
    width: 40vw;
    height: 50vh;
    
}


.slideshow-container {
    width:40vw;
    position: relative;
    margin: auto;
    border: 1px solid black;
    height: 50vh;
}

.mySlides {
    
    display: none;
    text-align: center;
}

.text {
    color: white;
    background-color: rgba(10, 10, 10, 0.8);
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* animacje */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.2}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.2};
    to {opacity: 1}
}













/* MENU  */


.tlo-tab{
    background-color: rgba(10, 10, 10, 0.8);
    width:50vw;
    position: relative;
    margin: auto;
    margin-top: 2vh;
}

.tlo-tab table{

    margin: auto;
    position: relative;
}

.nazwa{
    font-size: 20px;
}

.opis{
    font-size: 15px;
    font-style: italic;
}

table{
    font-size: 18px;
}

.cena{
    cursor: pointer;
}


#suma{
    position: absolute;
    bottom: 40px;
    border-top: 1px solid white;
    width: 20%;
    padding-top: 2vh;
}

#suma #napisSuma{
    margin-left: 2%;
    width: 30%;
    float: left;
}

#suma #zaplata{
    width:  50%;
    float: right;
}

